/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {https://learn.co/tracks/skills-front-end-web-development/day-5-layout-and-the-box-model/page-layout/zetsy#
	width: 960px;
	height: 100%;
	margin: 0 auto;
	background: #fff;
	padding: 20px 45px 20px;
}

/* Write all remaining styles here */